.header{
    height: 120px;
    background-image: var(--gradient-primary);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
}
.header__navbar-item{
    position: relative;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 300;
    cursor: pointer;
}
.header__navbar-item--text{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 300;
}
.header__navbar-item--strong{
    font-weight: 500;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: var(--white-color);
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-item--telephone{
    text-decoration: none;
    color: var(--white-color);
}
.header__navbar-item i:hover,
.header__navbar-item a:hover{
    opacity: 0.7;
}
.header__navbar--icon > a{
    display: inline-block;
    padding: 0 4px;
    cursor: pointer;
    color: var(--white-color);
}
.header__navbar-item--showqr:hover .header__qr{
    display: block;
}
.header__qr{
    width: 140px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    border-radius: 2px;
    display: none;
    animation: FadeIn ease-in .5s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.header__qr::before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    top: -6%; 
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-img{
    width: 120px;
    margin: 10px 10px;
}
.header__qr-apps--logo{
    height: 16px;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
/* Header notification */

.header__notify{
    --growth-from: 0;
    --growth-to: 1;
    display: none;
    position: absolute;
    width: 400px;
    top: 120%;
    right: 0;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: 90% top;
    animation: Growth ease-in 0.2s;
    margin-top: 4px;
    z-index: 2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.header__notify::before{
    content: "";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 1px;
    top: -29px;
}
.header__navbar-item--shownotify:hover .header__notify{
    display: block;
}
.header__notify::after{
    display: block;
    content: "";
    position: absolute;
    width: 23%;
    height: 10%;
    top: -6%;
    right: 0;
} 

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ccc;
    text-align: center;
    margin: 0;
    line-height: 40px;
    user-select: none;
}
.header__notify-list{
    padding: 0;
}
.header__notify-item{

}

.header__notify-item:hover{
    background-color: rgba(24,113,128,0.1);
}
.header__notify-link{
    background-color: rgba(54,155,127,0.1);
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.header__notify-link--viewed{
    background-color: #fff;
}
.header__notify-img{
    height: 50px;
    width: 48px;
}
.header__notify-body{
    margin-left: 12px;
}
.header__notify--name{
    display: block;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 400;
    
}
.header__notify--info{
    margin-top: 8px;
    display: block;
    color: var(--text-color);
    font-size: 1.3rem;
    line-height: 1.6rem;
}
.header__notify-footer--btn{
    color: var(--black-color);
    text-decoration: none; 
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0.8;
    padding: 10px 48px;
    margin: auto;
}
.header__notify-footer{
    display: flex;
}
/* authen modal */
.modal.disable{
    display: none;
}
.auth-form{
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--white-color);
    width: 500px;
}
.auth-form__container{
    padding: 16px 24px;
}
.modal__inner{
    position: relative;
}
.auth-form_icon{
    color: var(--text-color);
    font-size: 2.4rem;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;

}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__auth-switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    border: 1px solid var(--boder-color);
    padding: 0 8px;
    font-size: 1.4rem;
    border-radius: 2px;
}
.auth-form__aside{
    padding: 0 12px;
    margin-top: 4px;
}
.auth-form__policy-text{
    font-size: 1.4rem;
}
.auth-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 100px;
    text-align: end;
}
.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__control-back:hover{
    background-color: rgba(0,0,0,0.05);
}
.auth-form__socials{
    background-color: var(--boder-color);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;

}
.btn--with-icon{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.btn--with-icon.auth-form__social-facebook{
    background-color: rgb(18,150,246);
    color: var(--white-color);
}
.btn--with-icon.auth-form__social-google{
    background-color: var(--white-color);
    color: var(--text-color);
}
.auth-form__social-icon{
    font-size: 1.8rem;
}
.auth-form__social-title{
    margin-left: 20px;
}
.auth-form-help{
    display: flex;
    justify-content: flex-end;
}
.auth-form-link{
    font-size: 1.4rem;
    text-decoration: none;
}
.auth-form-link--fogot{
    color: var(--primary-color);
}
.auth-form-link--help{
    color: var(--foren-color);
}
.auth-form--separeta{
    height: 16px;
    border-left: 2px solid var(--boder-color);
    margin: 0 12px;
}
#sign-in,
#sign-up {
    display: none;
}
#sign-up.active, 
#sign-in.active{
    display: block;
}
/* Header with search */
.header-with-search{
    height: var(--search-height);
    display: flex;
    align-items: center;
}
.header__logo{
    width: 300px;
}
.header__logo-img{
    width: 50%;
    margin-left: 90px;
}
.header__search{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
  /* Giỏ Hàng */
.header__cart{
    width: 200px;
    height: 40px;
    text-align: center;
    z-index: 1;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}
.header__cart-icon{
    height: 32px;
    /* width: 50%; */
    padding: 4px 0;
    color: var(--white-color);
    font-size: 3rem;
}
.header__cart-notice{
    position: absolute;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid var(--foren-color) ;
    right: -2px;
}
.header__cart-list{
    position: absolute;
    width: 400px;
    top: calc(100% + 12px);
    right: -3px;
    background-color: var(--white-color);
    box-shadow: 0 2px 2px var(--border-color);
    border-radius: 2px;
    display: none;
}
.header__cart-img--no-cart{
    width: 60%;
    display: none;
}
.header__cart-title{
    margin: 18px 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    display: none;
}
.header__cart--no-cart{
    padding: 24px 0;
}
.header__cart-list::before{
    content: "";
    position: absolute;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0;
    top: -34px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart--no-cart .header__cart-img--no-cart,
.header__cart--no-cart .header__cart-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Danh sách giỏ hàng */
.header__cart-heading {
    font-size: 1.4rem;
    color: #ccc;
    text-align: left;
    font-weight: 400;
    margin-left: 12px;
}
.cart__list {
    padding: 0;
    list-style: none;
}
.cart__item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    cursor: default;
}
.cart__item-img {
    width: 60px;
    margin: 0 12px 0 12px;
    box-shadow: 0 0 2px var(--border-color);
}
.cart__item-info {
    width: 100%;
    margin-right: 12px;
}
.cart__item-head {
    display: flex;
    align-items: center;
    ;justify-content: space-between;
}
.cart__item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}
.cart__item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.cart__item-multipy {
    margin: 0 2px;
    font-size: 1rem;
}
.cart__item-quantity {
    font-size: 1.4rem;
    color: var(--foren-color);
}
.cart__item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
.cart__item-type {
    font-size: 1.2rem;
    color: var(--foren-color);

}
.cart__item-remove {
    font-size: 1.4rem;
}
.cart__btn{
    float: right;
    margin: 0 12px 12px 0;
}
.cart__item:hover{
    background-color: var(--border-color);
}
.cart__item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.cart__btn:hover{
    opacity: 0.9;
}
/* Khung nhập ô tìm kiếm */
.header__search-input--wrap{
    flex: 1;
    height: 100%;
}
.header__search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 16px;
    color: var(--text-color);
}
.header__select{
    border-left: 2px solid var(--border-color);
    margin: 0 8px;
    cursor: pointer;
    position: relative;
}
.header__select::after{
    content: "";
    position: absolute;
    display: block;
    width: 82px;
    height: 15px;
    background-color: transparent;
    top: 24px;
}
.header__select:hover .header__option{
    display: block;
}
.header__select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 8px;
}
.header__select-icon{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-btn{
    height: 34px;
    width: 40px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 4px;
    border-radius: 2px;
}
.header__search-btn:hover{
    background-color: var(--foren-color);
}
.header__search-btn--icon{
    font-size: 1.6rem;
    color: var(--white-color);
}
.header__option{
    list-style: none;
    position: absolute;
    top: 22px;
    left: 0;
    cursor: pointer;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 2px;
    overflow: hidden;
    display: none;
}

.header__option-item{
    height: 28px;
    width: 84px;
    list-style: none;
    font-size: 1.4rem;
    background-color: var(--white-color);
    border: none;
}
.header__option-item:hover{
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--border-color);
}
.header__option-item i {
    display: none;
}
.header__option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: relative;
    margin-top: 6px;
    background-color: var(--white-color);
    width: calc(100%-16px);
    box-shadow: 0 0 2px var(--border-color);
    border-radius: 2px;
    overflow: hidden;
    display: none;
    z-index: 1;
}
/* .header__search-history::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 15px;
    background-color: transparent;
    top: -12px;
} */
.header__history-heading{
    padding: 8px 16px;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ccc;
}
.header__history-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__history-item{
    /* height: 14px; */
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 8px 16px;
    line-height: 14px;
    cursor: pointer;
}
.header__history-item:hover{
    background-color: var(--border-color);
}
/* Container */
.container{
    background-color: #f5f5f5;
}
.content{
    padding: 36px 36px 0 36px;
}
/* Category  */
.category{
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid var(--border-color);

}
.category__heading-icon{
    font-size: 1.4rem;
    padding-right: 6px;
}
.category__heading{
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.category__list{
    list-style: none;
    padding: 0 30px;
}
.category__item{
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    height: 46px;
}

#pro-gear:hover.home-selection{
    display: block;
}
.category__item:hover{
    color: var(--primary-color);
}
.category__item-text{
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    right: 0;
    transition: right linear 0.1s;
}
.category__item-text:hover{
    right: -4px;
    color: var(--primary-color);
}
.item--active .category__item-text{
    color: var(--primary-color);
}
.item--active .category__item-text::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -15px;
    border: 4px solid;
    transform: translateY(calc(50% + -7px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category__brand-list{
   padding: 0;
   position: relative;
}

.category__brand-item{
    position: absolute;
    right: 10px;
    display: none;
    text-decoration: none;
    list-style-type: none;
}

/* filter */
.home-filter{
    background-color: rgba(0,0,0,0.05);
    display: flex;
    padding: 8px 24px;
    align-items: center;
}
.home-filter__page{
    display: flex;
    align-items: center;

}
.home-filter__title{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
}
.seclect__input{
    height: 30px;
}
.seclect__input-label{
    font-size: 1.4rem;
}
.seclect__input-icon{
    font-size: 1.4rem;

}
.home-filter__page{
    margin-left: auto;
}
.home-filter__num{
    font-size: 1.4rem;
    color: var(--text-color);
}
.home-filter__current{
    font-size: 1.4rem;
    color: var(--primary-color);
}
.home-filter__control{
    margin-left: 30px;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__control-btn{
    text-decoration: none;
    color: var(--text-color);
    flex: 1;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    display: flex;
}
.home-filter__control-icon{
    font-size: 1.4rem;
    margin: auto;
}
.home-filter__control-btn:hover{
    background-color: var(--primary-color);
}

/* Selection */
.home-selection{
    display: none;
    position: relative;
    width: 940px;
    height: 520px;
    background-color: var(--white-color);
    z-index: 1;
    border: 2px solid var(--boder-color);
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.1);
}
.home-selection::before{
    position: absolute;
    left: -50px;
    top: 0;
    content: "";
    width: 50px;
    height: 100%;
    background-color: red;
}
.selection-inner{
    padding: 20px;
    display: flex;
}

.selection-list{
    font-size: 1.6rem;
    font-weight: 600;
    list-style: none;
    color: var(--primary-color);
}

.selection-item{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    transform: translateX(20px);
    line-height: 2.4rem;
    cursor: pointer;
    transition: transform linear 0.1s;
    will-change: trasform;
}
.selection-item:hover{
    color: var(--primary-color);
    transform : translateY(-1px);
}
.home-selection.active{
    display: block;
}

/* Container Product */
.home__container{
    margin-top: 10px;
}
.home__container-list{
    display: none;
}
.home__container-list.item--active {
    display: block;
}

.home__container-item{
    background-color: var(--white-color);
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: trasform linear 0.1s;
    will-change: trasform;
}

.home__container-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.home__container-item__img{
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.home__container-item__product{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height:3.6rem;
    margin: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home__container-item__price{
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}   

.home__container-item__price-old{
    font-size: 1.3rem;
    text-decoration: line-through;
    color: var(--disable-color);
    margin-left: 8px;
}

.home__container-item__price-current{
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.home__container-item__action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.home__container-item__action-like{
   
}
.home__container-item__action-like--icon{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}
.home__container-item__action-liked--icon{
    display: none;
    color: rgb(226, 25, 92);
    font-size: 1.4rem;
}
.home__container-item__action-like--liked .home__container-item__action-liked--icon{
    display: inline-block;
}
.home__container-item__action-like--liked .home__container-item__action-like--icon{
    display: none;
}

.home__container-item__action-rating{
    margin-left: 2px;
}
.home__container-item__action-rating-icon{
    font-size: 0.9rem;
    color: var(--disable-color);
}
.home__container-item__action-rating .home__container-item__action-rating--rated{
    color: rgb(255, 223, 39);
}
.home__container-item__action-sold{
    font-size: 1.2rem;
    color: var(--text-color);
}
.home__container-item__info{
    display: flex;
    justify-content: space-between;
    margin: 12px 10px 0;
    align-items: flex-end;
     padding-bottom: 8px;
}

.home__container-item__info-still{
    font-size: 1.1rem;
    color: var(--primary-color);
    display: flex;
    align-items: flex-end;
}
.home__container-item__info-stil--icon{
    padding: 1px 1px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    margin-right: 4px;
}
/* .home__container-item__info-still .home__container-item__info-still--end{
    display: none;
}
.home__container-item__info-still--contact{
    font-size: 1.2rem;
    color: var(--foren-color);
    display: flex;
    align-items: flex-end;
}

.home__container-item__info-still--contact-icon{
    color: var(--foren-color);
    font-size: 1rem;
    margin-right: 4px;
} */

.home__container-item__info-cart{
    font-size: 2rem;
    color: var(--foren-color);
    cursor: pointer;
}
.home__container-item__info-cart:hover{
    color: var(--primary-color);
}
.home__container-item__info-cart--icon{

}

.home__container-item__favourite{
    position: absolute;
    font-size: 1.1rem;
    font-weight: 500;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    padding: 1px 3px 1px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home__container-item__favourite i{
    color: var(--white-color);
    font-size: 1rem;
    padding-left: 3px;
    margin-right: 2px;
}
.home__container-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home__container-item__favourite span{
    color: var(--white-color);
}

.home__container-item__saleoff{
    position: absolute;
    background-color:  rgba(102, 217, 99, 0.88);
    top: 0;
    right: 0;
    height: 30px;
    width: 36px;
    text-align: center;
}
.home__container-item__saleoff::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 18px 6px;
    border-style: solid;
    border-color: red rgba(102, 217, 99, 0.88) transparent rgba(102, 217, 99, 0.88);
}

.home__container-item__saleoff-percent{
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: var(--white-color);
    position: relative;
    top: 2px;
}

.home__container-item__saleoff-label{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--foren-color);
    position: relative;
    top: 3px;
}
.home__container-wrap{
    margin-bottom: 10px;
}
.home-pagination{
    margin: 30px 0 20px 0;
}
/* Footer */
.footer{
    padding-top: 20px;
    background-color: rgb(35, 201, 93);
}
.footer-heading{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
}
.footer__list{
    list-style: none;
}
.footer__item{
    
}
.footer__item-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--foren-color);
    line-height: 2rem;
}
.footer__item-link:hover{
    color: var(--white-color);
}
.footer-bottom{
    background-color: #2b8b7f;
}
.footer-bottom__text{
    font-size: 1.4rem;
    padding: 12px 0;
    text-align: center;
    margin: 0;
}
